#[Title]#
%report_item.plugin_name%

#[CVSSv3.BaseScore]#
%report_item.cvss3_base_score%

#[CVSSv3.Vector]#
%report_item.cvss3_vector%

#[Type]#
Internal

#[Description]#
%report_item.description%

#[Solution]#
%report_item.solution%

#[References]#
%report_item.see_also_entries%